.mt {
  &-10 {
    margin-top: 10px;
  }
  &-15 {
    margin-top: 15px;
  }
  &-20 {
    margin-top: 20px;
  }
  &-40 {
    margin-top: 40px;
  }
  &-220 {
    margin-top: 220px;
  }
}

.mb {
  &-0 {
    margin-bottom: 0;
  }
  &-35 {
    margin-bottom: 35px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-15 {
    margin-bottom: 15px;
  }
  &-10 {
    margin-bottom: 10px;
  }
}

.mr {
  &-50 {
    margin-right: 50px;
  }
  &-15 {
    margin-right: 15px;
  }
  &-10 {
    margin-right: 10px;
  }
  &-5 {
    margin-right: 5px;
  }
  &-0 {
    margin-right: 0;
  }
}

.pb {
  &-15 {
    padding-bottom: 15px;
  }
}

.lh{
  &-sm {
    line-height: 1.2;
  }
}

.w {
  &-430 {
    width: 430px;
    max-width: 100%;
  }
}