@media screen and (max-width: 1270px) {
  .banner-lg--image-left {
    left: 70px;
  }
  .banner-lg--container {
    padding: 100px 60px;
  }
  .banner-lg--content {
    margin-right: 0;
  }
  .banner-lg--image {
    width: 300px;
    right: 30px;
  }
  .banner-lg--image-left {
    width: 400px;
    bottom: -90px;
  }
  .slider--prev {
    margin-left: 0;
  }
  .slider--next {
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .header--menu {
    padding: 0 15px;
    margin: 20px 0;
    text-align: center;
  }
  .header--menu-item {
    margin: 0 12px;
  }
  .banner-lg--content {
    width: 500px;
    text-align: center;
  }
  .banner-lg--container {
    padding: 60px;
    justify-content: center;
  }
  .header--wrapper {
    flex-direction: column;
  }
  .card--content {
    padding: 20px;
  }
  .banner-lg--title {
    font-size: 87px;
    margin-bottom: -12px;
  }
  .block-title--lg {
    font-size: 54px;
  }
  .card--more {
    font-size: 56px;
    line-height: 1.7;
  }
  .card--more .small {
    font-size: 35px;
  }
  .registration--card {
    margin-bottom: 10px;
  }
  .registration--profile,
  .registration--sign {
    width: 500px;
    max-width: 100%;
    margin: 0 auto 20px;
  }
  .registration--form {
    width: 100%;
  }
  .card-filter {
    margin: 10px 0 0;
    flex: auto;
  }
  .card-filter--search {
    flex: auto;
  }
  .card-filter--nav {
    flex: 0 auto;
  }
  .menu--wrapper {
    flex-wrap: wrap;
  }
  .menu--single {
    flex: 0 1 370px;
    margin: 10px auto 0;
  }
  .menu--type {
    flex: 0 0 calc(40% - 5px);
  }
  .menu--list {
    flex: 0 0 calc(60% - 5px);
  }
  .header--bottom-item {
    display: block;
    margin: 5px 0;
  }
  .header--bottom-menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .header--bottom-menu-open {
    display: inline-block;
  }
  .header--bottom-nav {
    text-align: center;
  }
  .booking--schedule-hours {
    justify-content: space-between;
  }
  .booking--plan-img {
    margin-right: 10px;
    flex: 0 0 50%;
  }
  .card-filter--search {
    flex: auto;
  }
  .card-filter--small {
    flex: 0 0 calc(33.3% - 6px);
  }
  .booking--list {
    flex: 0 0 100%;
    width: 100%;
  }
  .booking--map {
    flex: auto;
    width: 100%;
  }
  #booking_map {
    height: 450px;
  }
  .pagination {
    margin-bottom: 30px;
  }
  .order--list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .order--list-card {
    flex: 0 0 calc(33.3% - 10px);
  }
  .booking--schedule {
    min-width: 788px;
  }
  .card-filter--schedule {
    overflow-x: auto;
  }
}

@media screen and (max-width: 768px) {
  .card--wrapper-3 .card,
  .card--wrapper-3 .card--lg,
  .card--wrapper-3 .card--md,
  .card--wrapper-3 .card--post {
    width: calc(50% - 6px);
  }
  .card--more {
    display: none;
  }
  .registration--card-full {
    align-items: center;
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }
  .registration--form-wrapper {
    flex: auto;
    margin-top: 20px;
    padding-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .map--info {
    margin-top: 15px;
  }
  .map--form {
    padding: 0;
  }
  .map--list {
    margin-bottom: 10px;
  }
  .banner-lg--title {
    font-size: 46px;
    margin-bottom: -5px;
  }
  .block-title--lg {
    font-size: 33px;
  }
  .banner-lg--button-group a,
  .banner-lg--button-group a:last-of-type {
    margin: 5px;
  }
  .banner-lg--container {
    padding: 20px 20px 40px;
  }
  .footer--text {
    margin-top: 10px;
    text-align: center;
  }
  .menu--type,
  .menu--list {
    flex: 0 0 100%;
  }
  .card-filter {
    flex-wrap: wrap;
    width: 100%;
  }
  .booking--plan-img {
    flex: auto;
    margin-right: 0;
  }
  .card-filter--small {
    flex: 0 0 100%;
  }
  .booking--item {
    flex-direction: column;
  }
  .tag--list-rounded,
  .tag--list {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .order--list-card {
    flex: 0 0 100%;
  }
  .order--card-restourant,
  .order--card-image {
    flex: 0 0 100%;
    margin: 5px 0;
  }
  .menu--list-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .order--menu {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .header--menu-item,
  .header--menu-item:last-of-type {
    margin: 0 12px;
  }
  .card--wrapper-2 .card,
  .card--wrapper-3 .card,
  .card--wrapper-2 .card--lg,
  .card--wrapper-3 .card--lg,
  .card--wrapper-2 .card--md,
  .card--wrapper-3 .card--md,
  .card--wrapper-2 .card--post,
  .card--wrapper-3 .card--post,
  .card--wrapper-2 .card--lg,
  .card--wrapper-3 .card--lg {
    width: 100%;
    min-height: auto;
  }
  .header--form,
  .simple-form--form,
  .banner-lg--form {
    flex-direction: column;
    width: 100%;
  }
  .header--field,
  .simple-form--field,
  .banner-lg--field {
    width: 100%;
    margin-right: 0;
  }
  .header--button,
  .banner-lg--button {
    width: 100%;
    margin-top: 5px;
  }
  .map--info {
    padding: 20px;
  }
  .block-title {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .mt-sm-20 {
    margin-top: 20px;
  }
  .round-list--label {
    margin-top: -10px;
  }
  .banner-lg {
    margin-top: 50px;
  }
  .banner-lg--button-group {
    margin-top: 20px;
  }
  .footer {
    margin-top: 50px;
  }
  .map {
    margin-top: 50px;
  }
  .registration--container {
    min-height: auto;
  }
  .registration--avatar {
    width: 100%;
  }
  .registration--form {
    padding-left: 0;
    margin-top: 15px;
  }
  .registration--button-group {
    flex-direction: column;
    .button {
      width: 100%;
    }
  }
  .menu--list {
    .menu--card {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .menu--list-img {
    margin-bottom: 10px;
  }
}