.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:hover {
    opacity: .8;
  }
  &--full {
    width: 100%;
  }
  &.bg--pink {
    box-shadow: 0 14px 27px 0 rgba(233, 48, 127, 0.17);
  }
}