.registration {
  font-family: 'Ralawey', sans-serif;
  &--wrapper {
    width: 830px;
    max-width: 100%;
  }
  &--profile {
    width: 970px;
    max-width: 100%;
    .registration--card {
      padding: 20px;
    }
  }
  &--sign {
    width: 900px;
    max-width: 100%;
    .registration--card {
      padding: 20px;
    }
    .registration--qr {
      padding: 60px;
    }
    .registration--card-sign {
      padding: 47px 20px;
    }
  }
  &--container {
    min-height: 80vh;
  }
  &--card {
    flex-wrap: wrap;
    padding: 30px 35px;
    border-radius: 6px;
    background: #ffffff;
  }
  &--card-sign {
    @extend .registration--card;
  }
  &--card-full {
    @extend .registration--card;
  }
  &--phone-lg {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
  }
  &--form-wrapper {
    flex: 0 0 430px;
    padding-left: 10px;
  }
  &--checkbox--wrapper {
    flex: 0 0 100%;
  }
  &--checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #2f3f7e;
  }
  &--checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    input {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      opacity: 0;
      cursor: pointer;
      &:checked + .registration--checkbox-icon::after {
        opacity: 1;
      }
      &:checked + .registration--checkbox-icon::before {
        opacity: 0;
      }
    }
  }
  &--checkbox-icon {
    &::before {
      content: url(../../img/checkbox_pass.png);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &::after {
      content: url(../../img/checkbox_active.png);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
    }
  }
  &--avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    height: 165px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    background-color: #f8f9ff;
    a {
      padding-top: 21px;
    }
  }
  &--form {
    padding-left: 20px;
    flex: 1;
  }
  &--form-group {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .registration--field {
      margin-bottom: 0;
    }
  }
  &--form-group-3 {
    @extend .registration--form-group;
    .registration--form-tag {
      padding: 6px 18px;
    }
  }
  &--field {
    height: auto;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #e5e5f0;
    border-radius: 0;
    padding: 5px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #2f3f7e;
    &:focus {
      border: none;
      border-bottom: 1px solid #e5e5f0;
    }
  }
  &--form-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 28px;
    margin: 0 4px;
    border: 1px solid #2f3f7e;
    border-radius: 24px;
    line-height: 1.2;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &--button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    .button {
      &:first-of-type {
        flex: 0 0 36%;
      }
      &:last-of-type {
        flex: 0 0 60%
      }
    }
  }
  &--qr {
    margin-top: 10px;
  }
}